.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
}

.time {
  align-self: flex-start;
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-xs);
}

.empty {
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
  text-align: center;
}
