.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  margin: auto;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
  color: var(--mantine-color-dimmed);
  text-align: center;
}
